<h1>Crear noticia</h1>
<form method="post" action="/articles/create">
    <div class="form-group">
        <label>Título</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="form-group">
        <label for="body">Contenido</label>
        <textarea name="body" class="form-control"></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
